* {
    font-family: 'Nunito', sans-serif;
    font-family: 'Oswald', sans-serif;
	font-size: 20px;

}

body {
    background-color: #0f0f0f;
}

label{
    margin: 0px auto;
}

.registerform{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 50%;
    margin:0px auto;
    align-items: center;
    background-color: #2376b6;
    padding: 5px;
    box-shadow: 0px 0px 5px rgb(253, 252, 252);
    border-radius: 15px;
    
}

.register-container{
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 15px;
    justify-content: center;

}

.register-subcontainer{
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.register-fiedset{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.register-fiedset label {
    margin-right: 10px;
  }

.register-terms{
    display: flex;
    flex-direction: row;
    align-items: center;
}


.submit-button {
    margin: 10px;
    border-radius: 5px;
    width: 120px;
    height: 45px;
    background-color: #0457968e;
    color: white;
    font-size: 25px;
  }
  
  .submit-button:hover {
    background-color: #0255b3;
  }
  

.input:focus{
    border: 3px solid rgb(106, 146, 231);
    outline: none;

}

.register-terms{
    display: flex;
    flex-direction: row;
}

select{ 
    width: 9.20rem; 
    height: 1.7rem;
} 
 
#birthDate{ 
    width: 9.20rem; 
    height: 1.6rem;
}

.register-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    gap: 15px;
    
  }
  
  /* Estilos para pantallas más pequeñas (móviles) */
  @media (max-width: 768px) {
    .register-container {
      flex-direction: column; /* Cambia a columna en dispositivos móviles */
      gap: 15px; /* Espacio entre los inputs */
    }
  }

